<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwg.shiro.web.mapper.RoleResourceMapper">
  <resultMap id="BaseResultMap" type="com.gwg.shiro.web.model.RoleResource">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="role_code" jdbcType="VARCHAR" property="roleCode" />
    <result column="res_code" jdbcType="VARCHAR" property="resCode" />
  </resultMap>

  <select id="queryResourceListByRoleId" parameterType="com.gwg.shiro.web.dto.RoleDto" resultType="com.gwg.shiro.web.model.Resource">
    SELECT
    t1.id   as id,
    t1.res_code   as resCode,
    t1.res_name   as resName,
    t1.res_url   as resUrl,
    t1.type   as type,
    t1.pid   as pid,
    t1.sort   as sort
    FROM
    tbl_resource t1
    INNER JOIN tbl_role_resource t2 ON t1.res_code = t2.res_code
    INNER JOIN tbl_role t3 ON t3.role_code = t2.role_code
    <where>
      t1.valid_flag = '1'
      and t3.valid_flag = '1'
      <if test="id != null">
        AND t3.id= #{id,jdbcType=BIGINT}
      </if>
    </where>
    ORDER BY t1.sort ASC
  </select>


  <select id="queryAllRoleResourceMap" resultType="com.gwg.shiro.web.vo.CusMapVo">
    SELECT
      t1.res_url   as cusKey,
      t3.role_code  as cusValue
    FROM
    tbl_resource t1
    INNER JOIN tbl_role_resource t2 ON t1.res_code = t2.res_code
    INNER JOIN tbl_role t3 ON t3.role_code = t2.role_code
    WHERE
      t1.valid_flag = '1'
      and t3.valid_flag = '1'
      ORDER BY t1.sort ASC
  </select>
</mapper>